
table {
  width: 100%;
}

.filter-bar-placeholder {
  height: 100px;
  margin-bottom: 20px;
}

.table-wrapper {
  position: relative;

  .loading-indicator {
    position: absolute;
    top: 56px;
    width: 100%;
    height: 100%;
    min-height: 300px;
    background: rgba(0, 0, 0, 0.10);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

